# Django Backend Environment Configuration

# Security & Debug
SECRET_KEY=your_secret_key_here
DEBUG=True

# Host & CORS Settings
ALLOWED_HOSTS=127.0.0.1,localhost,shptech.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://shptechnology.online

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password_in_prod

# Server Port (Default: 8000)
PORT=8000
